{{ define "main" }}
{{- partial "menu.html" . -}}

<main class="container">
  {{ if .Site.Data.content.portfolio.enable }}
    {{ with .Site.Data.content.portfolio }}
      <section class="about-me" id="portfolio">

<div style="padding-bottom: 1em;">

<b>Phenobase</b> is a global resource for plant phenology, combining and standardizing phenology data from monitoring programs, community-contributed images, and historical plant specimens. Explore our site to learn about how we collect, annotate, standardize, and share our data – and how you can access it. 
<p>&nbsp;</p>
New to Phenobase? Watch this video for a brief introduction.
</div>

        <div class="video-responsive">
          <iframe
            src="https://www.youtube.com/embed/htfeTm6BNhk"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
        <div class="text-center">
          <h1>{{ .title }}</h1>
          {{ .description | markdownify }}
        </div>
      </section>
    {{ end }}
  {{ end }}
</main>

{{- partial "footer.html" . -}}
{{ end }}

