{{ define "main" }}
{{- partial "menu.html" . -}}

<main class="container">
  {{ with .Site.Data.content.about }}
    <section style="background:#eeebeb; display:flex;justify-content:center;" id="about">
      <div class="text-center">
        <h1 style="margin-top: 2em;">{{ .title | safeHTML }}</h1>
<p>
Phenobase is a collaborative effort led by experts in phenology, machine learning, data systems, and biodiversity research from across the United States. Our team brings together academic researchers at all career stages, as well as leaders from key biodiversity-focused organizations including iNaturalist, the USA National Phenology Network, and Budburst.
</p>
        {{ range .team_list }}
        <div id="wrap">
          <h2>{{ .name }}</h2>
          <img class="left" src="/{{ .image }}" />
          <h4>{{ .affliation }}</h4>
          <p>{{ .introduction | markdownify }}</p>
        </div>
        {{ end }}
      </div>
    </section>
  {{ end }}
</main>

{{- partial "footer.html" . -}}
{{ end }}
