{{ define "main" }} {{- partial "menu.html" . -}} {{- partial "header.html" .
-}}

<!-- =============================
       Start Portfolio
    =============================== -->
{{ if .Site.Data.content.portfolio.enable }} {{ with
.Site.Data.content.portfolio }}
<section class="about-me" id="portfolio">
  
  <div class="video-responsive">
  <iframe
    src="https://www.youtube.com/embed/htfeTm6BNhk"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin"
    frameborder="0"
    allowfullscreen
  ></iframe>
</div>
  
      <div class="text-center">
        <h1>{{ .title }}</h1>
        {{ .description | markdownify }}
      </div>
</section>



{{ end }} {{ end }}
<!-- =============================
       End Portfolio
    =============================== -->


<!-- =============================
       Start About Me;
       changed class to Portfolio so that the menu transition works
    =============================== -->
    {{ with .Site.Data.content.about }}
    
<section style="background:#eeebeb; display:flex;justify-content:center;" id="about">
      <div class="text-center">
        <h1>{{ .title | safeHTML }}</h1>
      
      {{ range .team_list }}
      <div id="wrap">
          <h2>{{ .name }}</h2>
          
          <img class="left" src="{{ .image | relURL }}" />
          
          <h4>{{ .affliation }}</h4>
          
          <p>{{ .introduction | markdownify }}</p>
          
      </div>
          
      {{ end }}
      
      </div>
</section>
    
    {{ end }} 

<!-- =============================
      End About Me
    =============================== -->


{{ if .Site.Data.content.data_portal.enable }} {{ with
.Site.Data.content.data_portal }}
<section class="about-me" id="data_portal">
  
      <div class="text-center">
        <h1>{{ .title }}</h1>
        {{ .description | markdownify }}
      </div>
</section>



{{ end }} {{ end }}


{{- partial "footer.html" . -}} {{ end }}
